.hidden {
  display: none;
}

.member {
  background-color: rgba(243,243,243,0.8);
  border-radius: 48px;
  flex: 0 0 auto;
  margin: 8px;
  padding: 4px;
}

.members-container {
  display: flex;
  height: 500px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.member-list {
  list-style-type: none;
  padding: 0;
}
